.container {
  background: #eee;
  display: flex;
  flex-direction: row;
}

/* @media (min-width: 600px) {
  .container {
    background: plum;
    display: flex;
    flex-direction: row;
  }
} */
@media (max-width: 600px) {
  .container {
    background: plum;
    display: flex;
    flex-direction: column;
  }
}
